
<div class="feed">

  <% image.ingredients.forEach((ingredient) => { %>
     <%= ingredient%>
  <% }) %>

</div>






<div class="feed">
  <section class="recipe-image">
    <div class="image">
      <img src="<%= image.src %>" alt="<%= image.caption %>">
    </div>
    <div class="text">
      <%# <h5>Ingredients</h5>%>

      <p>
        <span> Ingredients in image: </span>
        <% image.ingredients.forEach((ingredient) => { %>
           <%= ingredient%>
        <% }) %>
      </p>
    </div>
  </section>






  <h5 class="showpage">Related Recipes</h5>

  <% recipes.forEach((recipe) => { %>
  <section class="returned-recipes">
      <div class="text">
        <p><%= recipe.title %> </p>
        <p> By: <%= recipe.publisher %></p>
        <p><a href="<%= recipe.source_url %>" target="_blank">Link To Recipe </a> </p>
      </div>
      <div class="image">
        <img src="<%= recipe.image_url %>" alt="<%= recipe.title %>">
      </div>
  </section>
  <% }) %>
</div>
