<div class="feed">
  <div class="recipe-image">
    <img src="<%= image.src %>" alt="<%= image.caption %>">
  </div>
  <div class="feed">
    <p>
      <%= image.ingredients %>
      <br><br><br>
      <% recipes.forEach((recipe) => { %>
        <div class="recipeWrap">
        
          <h3> <%= recipe.title %> </h3>
          <h4><%= recipe.image_url %></h4>
          <img src="<%= recipe.image_url %>" alt="<%= recipe.title %>"> <br>
          <%= recipe.publisher %> <br>
          <br>
          <br>
          <br>
        </div>

      <% }) %>
    </p>
  </div>
</div>
