<div class="feed">
  <section class="recipe-image">
    <div class="image">
      <img src="<%= image.src %>" alt="<%= image.caption %>">
    </div>
    <div class="text">
      <h5>Ingredients</h5>
      <p>
        <% image.ingredients.forEach((ingredient) => { %>
           <%= ingredient %>
        <% }) %>
      </p>
    </div>
  </section>

  <% recipes.forEach((recipe) => { %>
  <section class="returned-recipes">
      <div class="text">
        <p><%= recipe.title %> </p>
        <p> By: <%= recipe.publisher %></p>
        <p><a href="<%= recipe.image_url %>">Link To Recipe </a> </p>
      </div>
      <div class="image">
        <img src="<%= recipe.image_url %>" alt="<%= recipe.title %>">
      </div>
  </section>
  <% }) %>
</div>
