
<form method="GET" action="/images/new">
  <button> UPLOAD NEW IMAGE</button>
</form>

<a href="/users/edit">EDIT USER DETAILS</a>

<form method="GET" action="/users/edit">
  <button> EDIT USER DETAILS</button>
</form>


<h1><%= user.username %>'s Profile</h1>

<div class="feed">
  <% images.forEach((image) => { %>
    <div class="profile-image">
      <a href="/images/<%= image.id %>" >
        <img src="<%= image.src %>" alt="<%= image.caption %>">
      </a>

      <form class="delete" action="/images/<%= image.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE"/>
        <button><div> </div></button>
      </form>
    </div>
  <% }) %>

</div>
