
<form method="GET" action="/images/new">
  <button> UPLOAD NEW IMAGE</button>
</form>

<a class="sessionLink" href="/users/edit">EDIT USER DETAILS</a>



<h2><%= user.username %>'s Profile</h2>

<div class="feed">



  <div class="grid">
    <div class="grid-sizer"></div>
    <% images.forEach((image, index) => {  %>
    <div class="grid-item">
      <img src="<%= image.src %>" alt="<%= image.caption %>">
      <a href="/images/<%= image.id %>" >
        <p>View Recipe <p>
      </a>

      <form class="delete" action="/images/<%= image.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE"/>
        <button><div> </div></button>
      </form>
    </div>
    <% }) %>
  </div>

</div>
